section#conteudo {
    width: 1000px;
    height: auto;
    margin-top: 0px;
    margin-left: 500px;
    margin-bottom: 225px;
}

iframe#frame-spec {
    width: 440px;
    height: 300px;
    border: none;
}

/* devo perguntr paar o mrco como resolver isso */