section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 420px;
    height: 290px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar-corner {
    display: none;
}

/* devo perguntr paar o mrco como resolver isso */